ErrorDocument 404 /errordocs/404.html

<IfModule mod_mime.c>
    <FilesMatch "[^.]+\.css$">
        Header set Content-Type: "text/css"
    </FilesMatch>

    <FilesMatch "[^.]+\.js$">
        Header set Content-Type: "text/javascript"
    </FilesMatch>
</IfModule>